
// Colors
$fluke-yellow: #ffc20e;
$black: #000000;
$black-light: #212121;
$white: #ffffff;
$blue: #376899;


// Fonts
$primary-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$secondary-font: "Roboto Slab", Arial, serif;