html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 300px;
    font-family: $primary-font;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: $secondary-font;
    font-weight: bold;
}

h1,
h2 {
    font-size: calc(30px + .25vw);
    margin-bottom: 16px;
}

h3 {
    color: #376899;
    font-size: calc(20px + .25vw);
}

ul {
    padding-left: 15px;
}

a {
    color: #376899;
    transition: 0.35s;
    &:hover {
        text-decoration: none;
        transition: 0.35s;
    }
    &:visited {
        text-decoration: none;
    }
}