
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 300px;
    font-family: $primary-font;
    font-size: 18px;
}

h1, 
h2 {
    font-size: 34px;
    font-weight: bold;
    font-family: $secondary-font;
    margin-bottom: 36px;
}

ul {
    padding-left: 15px;
}

a {
    color: #376899;
    transition: 0.35s;

    &:hover {
        text-decoration: none;
        transition: 0.35s;
    }

    &:visited {
        text-decoration: none;
    }
}









