
.btn:hover {
    transition: 0.35s;
}

.btn {
    transition: 0.35s;
}

.btn-primary {
    color: $black;
    background-color: $fluke-yellow;
    border: 1px solid $fluke-yellow;
    border-radius: 0px;
    font-size: 1.4rem;
    font-weight: 700;
}

.btn-primary.disabled {
    opacity: 100;
}

.btn-primary.disabled:hover {
    background-color: $white;
    border: 1px solid $fluke-yellow;
    color: $black;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: pointer;
}

.btn-white {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: rgba(255,255,255,.3);
    padding: 10px 15px;
    font-size: 22px;
    border: none;
    width: 100%;
    text-align: left;
    color: #fff;
    &:first-child {
        margin-top: 30px;
    }
    &:hover {
        background-color: rgba(255,255,255,0);
        color: #fff;
    }
}

.nav-btn{
    color: #ffffff;
    font-size: calc(16px + .50vw);
    margin-top: 40px;
    display: inline-block;
    &:hover {
        color: #e4e4e4;
    }
}

i {
    border: solid #ffffff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: -6px;
    margin-right: 10px;
  }
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 6px
  }

