.container {
    max-width: 1260px;
}

.panel-grey {
    background-color: #e6e6e6;
    color: $black;
}

.panel-dark-grey {
    background-color: #707070;
    color: $white;
}

.frame {
    padding-top: 60px;
    padding-bottom: 60px;
}

.frame--question {
    background-image: url(https://us.flukecal.com/sites/flukecal.com/files/assets/Splash_pages/image/bring-dmm-in-house/6009213-question-mark-header-graphic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #163e7c;
    color: #fff;
    padding-bottom: 130px;
}

.col--hor-pad-reset{
    padding-left: 0px;
    padding-right: 0px;
}