header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#tag-line {
    font-style: italic;
    font-family: "Roboto Slab", arial, serif;
    margin-top: 25px;
}

#phone-number {
    margin-top: 25px;
}